#!/usr/bin/env bash
cd /
ssh -o StrictHostKeyChecking=no -i /etc/keepalived/openlab.pem "ubuntu@{{ nodepool_master_ip }}" "
        set -x
        sudo systemctl stop nodepool-* --all
    "

ssh -o StrictHostKeyChecking=no -i /etc/keepalived/openlab.pem "ubuntu@{{ zuul_master_ip }}" "
        set -x
        sudo systemctl stop gearman-job-server
        sudo systemctl stop statsd
        sudo systemctl stop zuul-* --all
        sudo systemctl stop apache2
    "

ssh -o StrictHostKeyChecking=no -i /etc/keepalived/openlab.pem "ubuntu@{{ nodepool_slave_ip }}" "
        set -x
        sudo systemctl start nodepool-* --all
    "

ssh -o StrictHostKeyChecking=no -i /etc/keepalived/openlab.pem "ubuntu@{{ zuul_slave_ip }}" "
        set -x
        sudo systemctl start gearman-job-server
        sudo systemctl start statsd
        sudo systemctl start zuul-* --all
        sudo systemctl start apache2
    "

# Change webhook or change the DNS record(Manually)
python3 /etc/keepalived/change_app_webhook.py --user {{ github_username }} --password {{ github_password }} --app {{ app_name }} --ip {{ zuul_slave_ip }}

# For now, if a deployment is Down, we need to notify to upstream through a Github Issue
python /etc/keepalived/notify_upstream.py --username {{ github_username }} --password {{ github_password }} --env-role {{ monitored_env_role }}
