clouds:
  citynetwork:
    auth:
      auth_url: https://lon1.citycloud.com:5000/v3/
      password: '{{ citynetwork_password }}'
      project_domain_name: CCP_Domain_32924
      project_name: Default Project 32924
      user_domain_name: CCP_Domain_32924
      username: '{{ citynetwork_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: Lon1
    volume_api_version: '2'
  switch:
    auth:
      auth_url: https://keystone.cloud.switch.ch:5000/v3
      password: '{{ switch_password }}'
      project_domain_name: default
      project_name: openlab
      user_domain_name: Default
      username: '{{ switch_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: LS
    volume_api_version: '2'
  linaro:
    auth:
      auth_url: https://uk.linaro.cloud:5000/v3
      password: '{{ linaro_password }}'
      project_domain_name: Default
      project_name: openlab-testing
      user_domain_name: Default
      username: '{{ linaro_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: London
    volume_api_version: '2'
  huaweicloud-arm-sg:
    auth:
      auth_url: https://iam.ap-southeast-3.myhuaweicloud.com/v3
      password: '{{ huaweicloud-arm-sg_password }}'
      project_domain_name: OpenStackUpstream
      project_name: ap-southeast-3
      user_domain_name: OpenStackUpstream
      username: '{{ huaweicloud-arm-sg_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: ap-southeast-3
    volume_api_version: '2'
  huaweicloud-arm-hk:
    auth:
      auth_url: https://iam.ap-southeast-1.myhuaweicloud.com/v3
      password: '{{ huaweicloud-arm-hk_password }}'
      project_domain_name: OpenStackUpstream
      project_name: ap-southeast-1
      user_domain_name: OpenStackUpstream
      username: '{{ huaweicloud-arm-hk_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: ap-southeast-1
    volume_api_version: '2'
