# Unison preferences file
root = /srv/static/logs
root = ssh://zuul@{{ logserver_opposite_ip }}//srv/static/logs
batch = true
owner = true
group = true
perms = -1
repeat = 1800
retry = 3
sshargs = -C
fastcheck = true
log = true
logfile = /var/log/unison/unison.log
