clouds:
  otc:
    auth:
      username: '{{ otc_username }}'
      password: '{{ otc_password }}'
      auth_url: 'https://iam.eu-de.otc.t-systems.com/v3'
      project_id: '1d9623a6001c4356892489385d2b00d7'
      project_name: 'eu-de_otc_iam'
      project_domain_name: 'OTC00000000001000010507'
      user_domain_name: 'OTC00000000001000010507'
    identity_api_version: '3'
    network_api_version: '2.0'
    volume_api_version: '2'
    network_endpoint_override: 'https://vpc.eu-de.otc.t-systems.com'
    floating_ip_source: 'neutron'
    regions:
    - name: eu-de
      values:
        networks:
          - name: openlab-net
            default_interface: true

  vexxhost:
    auth:
      username: '{{ vexxhost_username }}'
      password: '{{ vexxhost_password }}'
      auth_url: 'https://auth.vexxhost.net/'
      project_name: '705bca15-7bc2-46cf-b119-4bd1fce56c17'
      user_domain_id: 'default'
      project_domain_id: 'default'
    identity_api_version: '3'
    network_api_version: '2.0'
    floating_ip_source: 'neutron'
    volume_api_version: '2'
    regions:
    - name: ca-ymq-1
      values:
        networks:
          - name: int-net

  chameleon:
    auth:
      auth_url: 'https://openstack.tacc.chameleoncloud.org:5000/v2.0'
      password: '{{ chameleon_password }}'
      project_name: 'CH-819710'
      username: '{{ chameleon_username }}'
    identity_api_version: '2'
    network_api_version: '2.0'
    floating_ip_source: 'neutron'
    volume_api_version: '2'
    regions:
    - name: RegionOne
      values:
        networks:
          - name: openlab-net

  citynetwork:
    auth:
      username: '{{ citynetwork_username }}'
      password: '{{ citynetwork_password }}'
      auth_url: 'https://identity1.citycloud.com:5000/v3/'
      project_name: 'Default Project 32924'
      project_domain_name: 'CCP_Domain_32924'
      user_domain_name: 'CCP_Domain_32924'
    identity_api_version: '3'
    network_api_version: '2.0'
    volume_api_version: '2'
    regions:
    - name: Lon1
      values:
        networks:
          - name: openlab-net

  switch:
    auth:
      username: '{{ switch_username }}'
      password: '{{ switch_password }}'
      auth_url: 'https://keystone.cloud.switch.ch:5000/v3'
      project_name: 'openlab'
      project_domain_name: 'default'
      user_domain_name: 'Default'
    identity_api_version: '3'
    network_api_version: '2.0'
    volume_api_version: '2'
    regions:
    - name: LS
      values:
        networks:
          - name: openlab-net

  huaweicloud:
    auth:
      auth_url: https://iam.ap-southeast-1.myhuaweicloud.com/v3
      password: '{{ huaweicloud_password }}'
      project_domain_name: wangkunpeng
      project_name: ap-southeast-1
      user_domain_name: wangkunpeng
      username: '{{ huaweicloud_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: ap-southeast-1
    volume_api_version: '2'

  packet:
    auth:
      auth_url: https://packet.platform9.net/keystone/v3
      password: '{{ packet_password }}'
      project_domain_name: default
      project_name: openlabzuul
      user_domain_name: Default
      username: '{{ packet_username }}'
    identity_api_version: '3'
    network_api_version: '2.0'
    region_name: us-west-1
    volume_api_version: '2'
