#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
---
- name: Install keepalived
  hosts: keepalived
  become: yes
  tasks:
    - name: Install keepalived
      package: name=keepalived

    - name: Copy openlab key to keepalived nodes
      copy:
        src: "{{ labkeeper_src_dir }}/openlab.pem"
        dest: /etc/keepalived/openlab.pem
        mode: 0600

    - name: Enable ip_vs module
      shell: |
        modprobe ip_vs
        modprobe ip_vs_wrr
        lsmod |grep ip_vs
      args:
        executable: /bin/bash

- name: Config keepalived master
  hosts: keepalived-master
  become: yes
  tasks:
    - name: Get interface of default route
      shell: ip route |grep default | sed -nr 's/.*dev ([^\ ]+).*/\1/p'
      register: local_default_interface

    - name: Generate keepalived conf
      template:
        src: "{{ labkeeper_config_git_dest }}/keepalived/keepalived.conf.j2"
        dest: /etc/keepalived/keepalived.conf
      vars:
        keepalived_role: MASTER
        kp_opposite_ip: "{{ hostvars[groups['keepalived-slave'][0]].ansible_host }}"
        notify_down_action: "/etc/keepalived/master_notify.sh"
        local_interface: "{{ local_default_interface.stdout }}"

    # TODO(bzhaoopenstack): For forbid pollute online ENV, we use a test account
    # to test post issue and change the github app webhook.
    - name: Copy necessary scripts
      template: src={{ item.src }} dest={{ item.dest }} mode=0755
      with_items:
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/master_notify.sh.j2", dest: "/etc/keepalived/master_notify.sh" }
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/notify_upstream.py", dest: "/etc/keepalived/notify_upstream.py" }

    - name: install script dependency
      pip:
        name: "{{ item }}"
      with_items:
        - PyGithub
        - argparse
        - datetime

    - name: Start keepalived service
      service: name=keepalived state=started

- name: Config keepalived slave
  hosts: keepalived-slave
  become: yes
  tasks:
    - name: Get interface of default route
      shell: ip route |grep default | sed -nr 's/.*dev ([^\ ]+).*/\1/p'
      register: local_default_interface

    - name: Generate keepalived conf
      template:
        src: "{{ labkeeper_config_git_dest }}/keepalived/keepalived.conf.j2"
        dest: /etc/keepalived/keepalived.conf
      vars:
        keepalived_role: BACKUP
        kp_opposite_ip: "{{ hostvars[groups['keepalived-master'][0]].ansible_host }}"
        notify_down_action: "/etc/keepalived/start_slave_svcs.sh"
        local_interface: "{{ local_default_interface.stdout }}"

    # TODO(bzhaoopenstack): For forbid pollute online ENV, we use a test account
    # to test post issue and change the github app webhook.
    - name: Copy necessary scripts
      template: src={{ item.src }} dest={{ item.dest }} mode=0755
      with_items:
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/master_notify.sh.j2", dest: "/etc/keepalived/master_notify.sh" }
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/notify_upstream.py", dest: "/etc/keepalived/notify_upstream.py" }
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/slave_notify.sh.j2", dest: "/etc/keepalived/slave_notify.sh" }
        - { src: "{{ labkeeper_config_git_dest }}/keepalived/change_app_webhook.py", dest: "/etc/keepalived/change_app_webhook.py" }

    - name: install script dependency
      pip:
        name: "{{ item }}"
      with_items:
        - PyGithub
        - argparse
        - requests
        - html
        - datetime

    - name: Start keepalived service
      service: name=keepalived state=started
