#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
---
- name: Install keepalived
  hosts: keepalived
  become: yes
  tasks:
    - name: Install keepalived
      package: name=keepalived

    - name: Enable ip_vs module
      shell: |
        modprobe ip_vs
        modprobe ip_vs_wrr
        lsmod |grep ip_vs
      args:
        executable: /bin/bash

    - name: Get interface of default route
      shell: ip route |grep default | sed -nr 's/.*dev ([^\ ]+).*/\1/p'
      register: local_default_interface

    - name: Generate keepalived conf
      template:
        src: "{{ labkeeper_config_git_dest }}/keepalived/keepalived.conf.j2"
        dest: /etc/keepalived/keepalived.conf
      vars:
        kp_opposite_ip: "{{ hostvars[groups['keepalived-slave'][0]].ansible_host }}"
        local_kp_script: "/etc/keepalived/kp_local_loop.py"
        local_interface: "{{ local_default_interface.stdout }}"

    - name: Copy necessary scripts
      template:
        src: "{{ labkeeper_config_git_dest }}/keepalived/kp_local_loop.py"
        dest: /etc/keepalived/kp_local_loop.py
        mode: 0755
      vars:
        zk_cli_conf: "{{ labkeeper_config_git_dest }}/openlabcmd/etc/openlab.conf"
        heartbeat_internal: 100
        ori_master_ip: "{{ hostvars[groups['zuul-web-master'][0]].ansible_host }}"
        ori_backup_ip: "{{ hostvars[groups['zuul-web-slave'][0]].ansible_host }}"
        slave_ip: "{{ hostvars[groups['zuul-web-slave'][0]].ansible_host }}"
        slave_backup_ip: "{{ hostvars[groups['zuul-web-slave'][0]].ansible_host }}"

    - name: install script dependency
      pip:
        name: ['six', 'iso8601', 'requests', 'configparser', 'PyGithub', 'openlabcmd']

    - name: Start keepalived service
      service: name=keepalived state=started
