# Copyright 2018 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
---
- name: Install nodepool
  hosts: nodepool
  become: yes
  serial: 1
  vars_files:
     - "{{ labkeeper_config_git_dest }}/nodepool/clouds-secrets.yaml"
  tasks:
    # NOTE(pabelanger): Because of ordering issues create the required home
    # directory first.
    - name: Create nodepool user directories.
      include_role:
        name: openstack.nodepool
      vars:
        nodepool_task_manager:
          - pre

    - name: Create openstack config directory
      file:
        dest: "/etc/openstack/"
        mode: 0755
        state: directory

    - name: Create clouds.yaml into place.
      template:
        dest: /etc/openstack/clouds.yaml
        mode: 0755
        src: "{{ nodepool_clouds_src }}"

    - name: Create nodepool SSH directory.
      file:
        dest: "/var/lib/nodepool/.ssh/"
        group: "nodepool"
        mode: 0700
        owner: "nodepool"
        state: directory

    - name: Copy zuul user SSH keys to nodepool home
      copy:
        dest: "/var/lib/nodepool/.ssh/{{ item }}"
        group: nodepool
        mode: 0600
        owner: nodepool
        src: "{{ labkeeper_config_git_dest }}/zuul/{{ item }}"
      with_items:
        - id_rsa
        - id_rsa.pub

    - name: Install and config nodepool packages
      include_role:
        name: openstack.nodepool
      vars:
        nodepool_task_manager:
          - install
          - config
